.btn {
  align-self: center;
  background-color: $grey;
  border: none;
  border-radius: $s-size;
  justify-self: end;
  height: 100%;
  padding: $s-size $xl-size;
  text-decoration: none;
  transition: border-radius .2s ease-in-out;

  @media (max-width: $desktop-breakpoint) {
    width: 100%;
    margin-top: 5px;
  }
}

.btn:hover {
  border-radius: 0;
}

.btn--logout {
  align-self: center;
  grid-area: logout;
  height: min-content;
  justify-self: center;
  width: min-content;

  @media #{$responsive-text} {
    width: 100%;
    margin: 5px 5px 0px 5px;
  }
}

.btn--priv {
  padding: 0.2rem $s-size;
  transition: none;

  @media #{$responsive-text} {
    width: 75%;
    padding: $s-size/2 $s-size;
  }
}

.btn--priv:hover {
  border-radius: $s-size;
}

.btn--send-new-message {
  height: auto;
  padding: $s-size;
  margin-left: $s-size/2;

  @media #{$responsive-text} {
    margin-left: 0;
  }
}