@mixin standardAnimation($name, $time, $count, $function) {
  animation-name: $name;
  animation-duration: $time;
  animation-fill-mode: both;
  animation-iteration-count: $count;
  animation-timing-function: $function;
}

.chat-window {
  background-color: $dark-grey;
  border-radius: $s-size;
  display: grid;
  grid-template-columns: [content] 3fr [sidebar] 1fr [end];
  grid-template-rows: [room-header] 1fr [messages] 4fr [input-bar] .5fr [end];
  grid-template-areas:
  "header logout"
  "messages onlineUsers"
  "inputBar inputBar";
  width: 65%;
  margin: 0 auto;

  &__header {
    align-self: center;
    @include standardAnimation(letterChange, 1.5s, 1, ease-in-out);
    grid-area: header; // room-header / content / room-header / sidebar
    justify-self: center;
  }

  &__typings {
    position: absolute;
    font-size: $s-size;
    color: blue;
    margin-left: 4.6rem;
    // transition: all 5s ease-in-out;
    // top: -1.4rem;
    // animation-name: movingFromTop;
    // animation: name duration timing-function delay iteration-count direction fill-mode;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }

  .widzialny {
    top: -14px;
  }

  .niewidzialny {
    top: -40px;
  }

  &__input-bar {
    grid-area: inputBar; // input-bar / content / input-bar / end
    padding-top: $s-size/2;
    position: relative;
  }

  &__messages {
    align-self: center;
    background-color: white;
    border-radius: $s-size;
    grid-area: messages; // messages / content / messages / sidebar
    justify-self: center;
    height: 40.0rem;
    padding: 1.0rem;
    width: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 5;

    & li {
      list-style: none;
      position: relative;
      @include standardAnimation(movingMessage, .4s, 1, ease-out);
    }

    &-items-left {
      text-align: left;
    }

    &-items-right {
      text-align: right;
    }

  }

  &__online-users {
    grid-area: onlineUsers; // messages / sidebar / messages / end

    span {
      display: block;
      text-align: center;
      font-weight: bold;
    }

    ul {
      padding: $s-size;
      margin: 0;

      li {
        display: flex;
        justify-content: space-between;
        border-radius: $s-size;
        background-color: white;
        list-style: none;
        padding: $s-size/2 $m-size;
        text-align: left;
        margin-bottom: $s-size/2;
      }
    }
  }
}



@keyframes letterChange {
  from {
    letter-spacing: initial;
  }

  to {
    letter-spacing: 7px;
  }
}

@keyframes movingMessage {
  0% {
    right: -200px;
  }
  70% {
    right: 15px;
  }
  100% {
    right: 0px;
  }
}

@keyframes movingFromTop {
  from {
    top: -4.0rem;
  }
  to {
    top: -1.4rem;
  }
}

@keyframes movingToTop {
  from {
    top: -1.4rem;
  }
  to {
    top: -4.0rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}