.chat-window {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
  "header logout"
  "messages onlineUsers"
  "inputBar inputBar";
  width: 600px;
  margin: 0 auto;

  &__header {
    grid-area: header;
  }

  &__input-bar {
    grid-area: inputBar;
  }

  &__messages {
    grid-area: messages;
  }

  &__online-users {
    grid-area: onlineUsers;
  }
}