.text-input {
  align-self: center;
  background-color: $light-grey;
  border: none;
  border-radius: $s-size;
  justify-self: start;
  font-size: $m-size;
  height: 100%;
  padding: 0 $s-size;
  width: 100%;
}