.single-room {
  background-color: $dark-grey;
  border: none;
  border-radius: $s-size;

  display: grid;
  grid-template-rows: [header] 1fr [login-bar] 1fr;

  margin-bottom: $s-size;
  max-width: $desktop-breakpoint;
  padding: $m-size;

  &__name {
    grid-row: header;
    margin: 0;
    padding: 0 0 $s-size $s-size/2;
    text-transform: uppercase;
  }

  & form {
    grid-row: login-bar;
    display: grid;
    grid-template-columns: [input] 1fr [submit] 1fr;
  }
}